body {
    background-color: #DDD;
}

.dropzone-btn {
    width: 300px;
    font-size: 20pt; 
}

.img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
}

.bitmap {
    text-align:       justify;
    -ms-text-justify: distribute-all-lines;
    text-justify:     distribute-all-lines;
}

.bitmap_image {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 25%;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.error {
    font-size: 20pt; 
    text-align: center;
}

.btn-warning {
    color: #444;
}

.btn-warning:hover {
    color: #444;
}

#crop {
    width: 100%;
}
