body {
    background-color: #000;
}

.dropzone-btn {
    width: 300px;
    font-size: 20pt; 
}

.image {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
}

.bitmap {
    margin-bottom: 10px;
    border-radius: 5px;
}

.error {
    font-size: 20pt; 
    text-align: center;
}

.btn-warning {
    color: #444;
}

.btn-warning:hover {
    color: #444;
}

#crop {
    width: 100%;
}
